body {
  background-color: #fffff0;
  color: #006400;
  margin: 40px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#ruby-rails {
  display: none;
}

#php-drupal {
  display: none;
}

#java-android {
  display: none;
}

#css-design {
  display: none;
}

#c-net {
  display: none;
}

.centered {
  text-align: center;
  margin-top: 25px;
}

img {
  width: 400px;
  height: 150px;
}

header {
  background-color: white;
  border: black;
  border-width: medium;
  border-style: double;
}
